.Rproj.user
.Rhistory
.RData
.Ruserdata
#scripts/01-introducao-ao-R.R
#scripts/02-importacao.R
#scripts/03-manipulacao.R
#scripts/04-ggplot2.R
#scripts/05-rmarkdown.Rmd
#scripts/06-exemplo-relatorio.html
#scripts/06-exemplo-relatorio.Rmd
#scripts/.DS_Store
#dados/imdb.csv
#dados/imdb.json
#dados/imdb.rds
#dados/imdb.sas7bdat
#dados/imdb.sav
#dados/imdb.sqlite
#dados/imdb.txt
#dados/imdb.xlsx
dados/imdb_nao_estruturada.xlsx
dados/imdb_rds.rds
dados/imdb2.csv
dados/mtcars_desconfigurado.xlsx
por_ano
dados/por_ano/*